{% extends "base.html" %}

{% block title %}Reset Password - Firewall Manager{% endblock %}

{% block content %}
<h2 class="text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5" style="color: var(--text-color);">Reset Password for {{ user.username }}</h2>
<div class="px-4 py-3 @container">
    <form method="POST" action="" onsubmit="return confirm('Are you sure you want to reset the password for this user?');">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            {{ form.password.label(class="block text-sm font-bold mb-2", style="color: var(--text-color);") }}
            {{ form.password(class="form-input w-full rounded-md focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50", style="background-color: var(--input-background-color); color: var(--input-text-color); border: 1px solid var(--table-border-color);") }}
            {% for error in form.password.errors %}
                <span class="text-red-500 text-xs">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-4">
            {{ form.confirm_password.label(class="block text-sm font-bold mb-2", style="color: var(--text-color);") }}
            {{ form.confirm_password(class="form-input w-full rounded-md focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50", style="background-color: var(--input-background-color); color: var(--input-text-color); border: 1px solid var(--table-border-color);") }}
            {% for error in form.confirm_password.errors %}
                <span class="text-red-500 text-xs">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="font-bold py-2 px-4 rounded", style="background-color: var(--link-color); color: var(--button-text-color);") }}
        </div>
    </form>
</div>
{% endblock %}
